<!-- Olá! -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} / {{ site.title }}</title>

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:image" content="{{ site.url }}/assets/images/celere-meta-image.jpg">

	<link rel="canonical" href="{{ site.url }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/style/style.css" media="all">
</head>

<body>
