:root {
	--accent: #7e00b4;
	--secondary: #9100ee;
	--text: #050315;
	--background: #fbfbfe;

	--ff-base: "SF Pro", "Helvetica Neue", Arial, ui-system, sans-serif;

	--fs-0: 1rem;
	--fs-1: 1.2rem;
	--fs-2: 1.6rem;
	--fs-3: 2.5rem;
}

/* CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	color-scheme: light dark;
}

img {
	max-width: 100%;
}

body {
	background-color: var(--background);
	width: min(100% - 1.5rem);
	margin: 1.5rem auto;
	font-family: var(--ff-base);
	font-size: var(--fs-1);
	line-height: 1.5;
	color: var(--text);
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	color: var(--accent);
	cursor: pointer;
}
a:hover {
	color: var(--secondary);
}

p,
ul {
	margin-bottom: 1.25rem;
	text-wrap: pretty;
}

h1 {
	font-weight: 500;
	line-height: 1.2;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto 1.5rem;
}

main,
#contact {
	margin: 0;
	max-width: 68ch;
}
main p:last-child,
footer p:last-child {
	margin: 0;
}

#content,
#contact {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px dashed #e0e0e0;
}

#contact {
	display: flex;
	justify-content: space-evenly;
}
@media (max-width: 480px) {
	#contact {
		flex-direction: column;
		row-gap: .75rem;
	}
}

footer {
	margin: 0 auto;
}
footer ul {
	display: flex;
	font-size: var(--fs-1);
	column-gap: 1.25rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
