@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("./font/inter.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--accent: #7e00b4;
	--secondary: #9100ee;
	--text: #2f0b48;
	--background: #fcf9ff;

	--ff-base: "Inter", "SF Pro", "Helvetica Neue", Arial, ui-system, sans-serif;

	--fs-0: 1rem;
	--fs-1: 1.2rem;
	--fs-2: 1.6rem;
	--fs-3: 2.5rem;
}

/* CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	color-scheme: light dark;
}

img {
	max-width: 100%;
}

body {
	width: min(64ch - 1rem, 100%);
	margin: 1.5rem auto;
	padding: 1.5rem;
	font-family: var(--ff-base);
	font-size: var(--fs-1);
	line-height: 1.5;
	color: var(--text);
	background-color: var(--background);
	overflow-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	color: var(--accent);
	cursor: pointer;
}
a:hover {
	color: var(--secondary);
}

p,
ul {
	margin-bottom: 1.25rem;
	text-wrap: pretty;
}

h1 {
	font-weight: 500;
	line-height: 1;
}

header {
	margin: 0 auto 2.5rem;
}

main,
#contact {
	margin: 0;
}
main p:last-child,
footer p:last-child,
#contact p {
	margin: 0;
}

#content,
#contact {
	margin-bottom: 2.5rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px dashed #e0e0e0;
}

#content {
	word-wrap: break-word;
	align-self: center;
}

#contact {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-self: center;
}
@media (max-width: 480px) {
	#contact {
		flex-direction: column;

		p {
			margin-bottom: 1.25rem;
		}
	}
}

#company {
	font-size: 80%;
	text-align: center;
}

footer {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 auto;
}
