@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("../fonts/inter.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/jetbrainsmono.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
	--accent: #000000;
	--secondary: #656565;
	--text: #000000;
	--background: #ffffff;

	--ff-base: "Inter", "SF Pro", "Helvetica Neue", Arial, ui-system, sans-serif;
	--ff-mono: "JetBrains Mono", monospace;

	--fs-0: 0.8rem;
	--fs-1: 1rem;
	--fs-2: 1.6rem;
	--fs-3: 2.5rem;
}

/* CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	color-scheme: light dark;
}

img {
	max-width: 100%;
}

body {
	width: min(70ch - 1rem, 100%);
	padding: 3rem;
	font-family: var(--ff-base);
	font-size: var(--fs-1);
	line-height: 1.5;
	color: var(--text);
	background-color: var(--background);
	overflow-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	color: var(--accent);
	cursor: pointer;
}
a:hover {
	color: var(--secondary);
}

p,
ul {
	margin-bottom: 1.25rem;
	text-wrap: pretty;
}

h1 {
	font-weight: 500;
	line-height: 1;
}

header {
	margin: 0 auto 2.5rem;
}

main,
#authors {
	margin: 0;
}
main p:last-child,
footer p:last-child,
#authors p {
	margin: 0;
}

#authors, #page-404 {
	margin: 2.5rem 0;
	padding-bottom: 2.5rem;
	border-bottom: 1px dotted var(--secondary);
	font-family: var(--ff-mono);
}

#content {
	word-wrap: break-word;
	align-self: center;
}

#company {
	font-family: var(--ff-mono);
	font-size: 70%;
	text-align: left;
}

footer {
	display: flex;
    flex-direction: column;
    align-items: right;
	margin: 0 auto;
}
